:root {
    --primary1:#4d4d4d;
    --primary2: #cccccc;
    --primary3: #b30000;
    /* black */
    /* white */
    --title-font:'Josefin Sans', sans-serif;
    --text-font:'Montserrat', sans-serif;
    --small-font: 'Lora', serif;

    /* gradient images */
    --linearImages: linear-gradient(
        rgba(0, 0, 0, 0.75),
        rgba(80, 80, 80, .5)
        );

    /* background buttons */
    --hoverGray: linear-gradient(to bottom, #4d4d4d, 5%, #808080);
    --shadowGray:inset 0px 1px 0px 0px #949494;
    --hoverRed: linear-gradient(to bottom, #ce0100 5%, #fe1a00 100%);
}

.aboutTitles{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: var(--title-font);
    color: var(--primary2);
    }

.aboutTitleSm{
    position: absolute;
    top: 15%;
    font-size: 30px;
    max-width: 70%;
    text-align: center;
    text-transform: uppercase;

}

.aboutTitleLg{
    position: absolute;
    top: 25%;
    font-size: 100px;
    max-width: 80%;
    text-align: center;
    text-transform: uppercase;

}

.aboutImg{
    width: 100%;
    height: 650px;
    margin-top: 0px;
    object-fit: cover;
}
.aboutTeam{
    display: flex;
    margin: auto;
    width: 80%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: var(--text-font);
    color: black;
}
.aboutTeamTitle{
    margin-top: 10%;
    font-size: 50px;
    text-align: center;
    font-weight: bold;
}

.aboutTeamText{
    margin-top: 10%;
    font-size:30px;
    max-width: 70%;
    text-align: center;
}
.profilePictures{
    display: flex;
    width: 100%;
    justify-content: space-around;
}
.profilePictures > img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    margin-top: 15%;
    margin-bottom: 5%;
}
.profileText {
    width: 100%;
    display: flex;
    margin-bottom: 10%;
}
.profileTextPerson{
    width: 25%;
    padding: 2%;
}