:root {
    --primary1:#4d4d4d;
    --primary2: #cccccc;
    --primary3: #b30000;
    /* black */
    /* white */
    --title-font:'Josefin Sans', sans-serif;
    --text-font:'Montserrat', sans-serif;
    --small-font: 'Lora', serif;

    /* gradient images */
    --linearImages: linear-gradient(
        rgba(0, 0, 0, 0.75),
        rgba(80, 80, 80, .5)
        );

    /* background buttons */
    --hoverGray: linear-gradient(to bottom, #4d4d4d, 5%, #808080);
    --shadowGray:inset 0px 1px 0px 0px #949494;
    --hoverRed: linear-gradient(to bottom, #ce0100 5%, #fe1a00 100%);
}


.btnGlobal{
    margin-top: 25px;
    box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:linear-gradient(to bottom, #ffffff 5%, #f6f6f6 100%);
	background-color:#ffffff;
	border-radius:6px;
	border:1px solid #dcdcdc;
	display:inline-block;
	cursor:pointer;
	color:#666666;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:10px 26px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffffff;
}

.btnGlobal:hover{
    background:linear-gradient(to bottom, var(--primary1) 5%, var(--primary3) 100%);
	color:white;
}